
absl-py==2.2.2
alembic==1.15.2
aniso8601==10.0.1
astunparse==1.6.3
Flask==3.1.0
Flask-Cors==5.0.1
Flask-JWT-Extended==4.7.1
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
tensorflow==2.19.0
torch==2.7.0
transformers==4.51.3
